
@{
    ViewBag.Title = "editConveyanceDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="block-flat">
            <div class="header"><h3>Conveyance Details</h3></div>
            <div class="content">
                <form id="form-create-conveyance" action="#" data-parsley-validate="" novalidate="">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="txtJobNo" class="col-sm-3 control-label">Conveyance Status</label>
                                <div class="col-sm-7">
                                    <span>@ViewBag.Conveyance.ConveyanceStatu.ConveyanceStatusName</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="txtJobNo" class="col-sm-3 control-label">Job No</label>
                                <div class="col-sm-7">
                                    <span>@ViewBag.Conveyance.JobNo</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="txtCostCentre" class="col-sm-3 control-label">Cost Centre</label>
                                <div class="col-sm-7">
                                    <span>@ViewBag.Conveyance.CostCentre</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="txtClientName" class="col-sm-3 control-label">Name Of Client</label>
                                <div class="col-sm-7">
                                    <span>@ViewBag.Conveyance.NameOfClient</span>
                                </div>
                                <div class="col-sm-2">
                                    <input type="checkbox" @if (ViewBag.Conveyance.IsBillableToClient) { <text> checked</text> } id="isbillableToClient" name="isbillableToClient" class="icheck" />
                                    Billable To Client
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table id="conveyancetbl">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Purpose</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Mode Of Transport</th>
                                        <th>Fare (Taka)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var row in ViewBag.Conveyance.ConveyanceBillRows)
                                    {
                                        <tr>
                                            <td>
                                                @if (row.RowDate != null)
                                                { @row.RowDate.ToString("dd-MM-yyyy")}
                                            </td>
                                            <td>
                                                @row.Purpose
                                            </td>
                                            <td>
                                                @row.FromLocation
                                            </td>
                                            <td>
                                                @row.ToLocation
                                            </td>
                                            <td>
                                                @row.MadeOfTransport
                                            </td>
                                            <td>
                                                @row.Fare
                                            </td>

                                        </tr>
                                    }

                                    <tr>
                                        <td colspan="5">
                                            Total
                                        </td>
                                        <td>
                                            @ViewBag.Conveyance.TotalBill
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <input type="hidden" id="conveyancebillid" value="@ViewBag.Conveyance.ConveynaceBillId" />
                        @if (ViewBag.Conveyance.ConveyanceStatusId == 1)
                        {
                            <div class="col-md-6" style="text-align:center;">
                                <input type="button" id="btnCancel" class="btn-danger" value="Decline" />
                            </div>
                            <div class="col-md-6" style="text-align:center;">
                                <input type="button" id="btnSubmit" class="btn-success" value="Approve" />
                            </div>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $('#btnCancel').click(function () {
                var conveyancebillid = $('#conveyancebillid').val();
                $.ajax({
                    type: 'POST',
                    url: '/Conveyance/ConveyanceDecline',
                    data: JSON.stringify({ id: conveyancebillid }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        if (data.status == "success") {
                            location.reload();
                        }
                        else {
                            alert(data.msg);
                        }
                    }
                });

            });
            $('#btnSubmit').click(function () {
                var conveyancebillid = $('#conveyancebillid').val();
                $.ajax({
                    type: 'POST',
                    url: '/Conveyance/ConveyanceApprove',
                    data: JSON.stringify({ id: conveyancebillid }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        if (data.status == "success") {
                            location.reload();
                        }
                    }
                });
            });
        });
    </script>
<script>
        function BindCombo(result, combo) {
            combo.empty();
            $.each(result, function () {
                combo.append(new Option(this.Name, this.ID));
            });
            combo.append(new Option("", ""));
        }
        function LoadThana(id, $element, thanaid) {
            $.ajax({
                type: 'POST',
                url: '/Employee/getThanas',
                data: JSON.stringify({ id: id }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.status == "success") {
                        BindCombo(data.data, $element);
                        $element.val(thanaid);
                    }
                }
            });
        }
</script>
}




